@model IEnumerable<NetFramwork_WildNature.Db.Image>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var animalDetails = ViewBag.AnimalDetails as IEnumerable<NetFramwork_WildNature.Db.Animal>;
}

<!-- Page Header Start -->
<div class="container-fluid header-bg py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 text-white mb-3 animated slideInDown">Động vật</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">
                    <a class="text-white" href="#">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-white" href="#">Trang</a>
                </li>
                <li class="breadcrumb-item text-primary active" aria-current="page">
                    Động vật
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<!-- Bắt đầu Động vật -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 mb-5 align-items-end wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">
                    <span class="text-primary">Wild Nature</span> đặc biệt
                </h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <form method="get" action="@Url.Action("Index", "AnimalList")">
                    <div class="input-group">
                        <input type="text" name="searchString" class="form-control" placeholder="Search for...">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">Go!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            @foreach (var image in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="animal-item position-relative">
                        
                        <img class="img-fluid img_input" src="@Url.Content(image.Link)" alt="Animal Image" />
                        <div class="animal-text p-2">
                            <a href="@Url.Action("AnimalDetail", "AnimalList", new { id = image.ID })">
                                @{
                                    var animal = animalDetails.FirstOrDefault(a => a.AnimalDetails.Any(ad => ad.Images.Contains(image)));
                                    if (animal != null)
                                    {
                                        <h5 class="text-white mb-0">@animal.Name</h5>
                                        <br />
                                        <p class="text-white mb-0"><strong>Khu vực sinh sống:</strong><br /> @animal.Area.Name</p>
                                    }
                                }
                            </a>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Page Header End -->

<link href="~/Asset/User/css/AnimalDetail/AnimalListcss.css" rel="stylesheet" />
