@model NetFramwork_WildNature.Db.AnimalDetail

@{
    ViewBag.Title = "EditDetail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section class="content-header">
    <h1>Chỉnh sửa chi tiết động vật</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Admin/Animals">Quản lý động vật</a></li>
        <li class="active">Chỉnh sửa chi tiết động vật</li>
    </ol>
</section>

<section class="content">
    <div class="box box-primary">
        @using (Html.BeginForm("EditDetail", "Animals", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="box-header with-border">
            </div>
            <div class="box-body">
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="animal-details-container">
                        <div class="animal-detail-fields">
                            <div class="form-group">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Weight, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Height, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.Origin, new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Origin, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Origin, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.ColorID, "Màu lông", new { @class = "control-label" })
                                    @Html.DropDownList("ColorID", null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ColorID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.SpecieID, "Giống loài", new { @class = "control-label" })
                                    @Html.DropDownList("SpecieID", null, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.SpecieID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Existing Images</label>
                        <div class="col-md-10">
                           @* @if (Model.Images != null)
                            {
                                foreach (var image in Model.Images)
                                {
                                    <div class="image-container" style="display: inline-block; position: relative; margin: 5px;">
                                        <img src="@Url.Content(image.Link)" alt="Animal Image" style="width: 100px; height: 100px;" />
                                        <button type="button" class="btn btn-danger delete-image" data-image-id="@image.ID" style="position: absolute; top: 0; right: 0;">X</button>
                                    </div>
                                }
                            }*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Images" class="control-label col-md-2">Add Images</label>
                        <div class="col-md-10">
                            <input type="file" name="Images" id="Images" multiple />
                        </div>
                    </div>


                    <div style="margin:50px 0px 0px 30px" class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu chỉnh sửa" class="btn btn-default" />
                            @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-danger btn-custom" })
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
   $(document).ready(function () {
    $('.delete-image').click(function () {
        var imageId = $(this).data('image-id');
        var container = $(this).closest('.image-container');

        $.ajax({
            url: '@Url.Action("DeleteImage", "Animals")',
            type: 'POST',
            data: { id: imageId },
            success: function (response) {
                if (response.success) {
                    container.remove();
                } else {
                    alert("Failed to delete image.");
                }
            },
            error: function () {
                alert("Error while deleting image.");
            }
        });
    });
});
</script>
}

